@import './styles/variables.scss';
@import './styles/card.scss';
@import './styles/navbar.scss';
@import './styles/rating.scss';




.App {

  font-family: $site-font-family;
  max-width: 960px;
  margin: 0 auto;
  
  .header {
    color: $primary-color;
  }
}

