.rating1 {
  img:nth-child(5),
  img:nth-child(4),
  img:nth-child(3),
  img:nth-child(2) {
    opacity: 0.5;
  }
}

.rating2 {
  img:nth-child(5),
  img:nth-child(4),
  img:nth-child(3) {
    opacity: 0.5;
  }
}

.rating3 {
  img:nth-child(5),
  img:nth-child(4) {
    opacity: 0.5;
  }
}
.rating4 {
  img:nth-child(5) {
    opacity: 0.5;
  }
}
.rating5 {
  opacity: 1;
}
