$primary-color: #1057e6;
$secondary-color: #61dafb;
$site-font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$button-background:  #50d391;